<!DOCTYPE html>
<html lang="pt-br" >
<head>
  <meta charset="UTF-8">
  <title>Perfil </title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'><link rel="stylesheet" href="perfil-sind.component.css">

</head>
<body>
<br>
<br>
<br>
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">

				<div class="profile-userpic">
					<img src="https://avatars.githubusercontent.com/u/61566293?v=4" class="img-responsive" alt="">
				</div>

				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Felipe Affonso
					</div>
					<div class="profile-usertitle-job">
						Morador
					</div>
				</div>

				<div class="profile-userbuttons">
					<button type="button" class="btn btn-primary btn-sm">Mural</button>
					<button type="button" class="btn btn-dark btn-sm">Sair</button>
				</div>

				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Home </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Configuração</a>
						</li>
					</ul>
				</div>


           <div class="portlet light bordered">

                                                <div class="row list-separated profile-stat">
                                                    <div class="col-md-6  col-sm-6 col-xs-6">
                                                        <div class="uppercase profile-stat-title"> 0 </div>
                                                        <div class="uppercase profile-stat-text"> Ajudas abertas </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <div class="uppercase profile-stat-title"> 0 </div>
                                                        <div class="uppercase profile-stat-text"> Ajudas concluida </div>
                                                    </div>

                                                </div>

                                                 <div>
                                                    <h4 class="profile-desc-title">Moradores:</h4>
                                                    <span class="profile-desc-text"> Felipe Affonso</span>

                                                    </div>
                                                  </div>


<!-- Meio da page-->
          </div>
        </div>
      <div class="col-md-9">
        <div class="profile-content" >

          <table class="table border borders-warning" >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Chamado</th>
                <th scope="col">Apartamento</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Supermercado</td>
                <td>Apto 33 Bloco 4</td>
                <td>Concluido</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Supermercado</td>
                <td>Apto 43 Bloco 4</td>
                <td>Concluido</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Supermercado</td>
                <td>Apto 53 Bloco 4</td>
                <td>Em andamento </td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>


</body>
</html>
