
<div class="col-md-12">
    <section class="menu">

        <input type="checkbox" id="menu-hamburguer" class="menu__hamburguer">
        <label for="menu-hamburguer" class="check-btn"></label>

        <ul class="menu-ul menu__ul">

            <li><a routerLink="/">Home</a></li>
            <!-- <li><a href="contact.html" class="menu__contato">Como funcionamos</a></li> -->
            <li>
                <ng-container *ngIf="idUsuario">
                    <a (click)="openLink('perfil')">Perfil</a>
                </ng-container>
                <ng-container *ngIf="!idUsuario">
                    <a routerLink="/login">Login</a>
                </ng-container>
            </li>            
            <li><a routerLink="/condominio">Tenho Interesse</a></li>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </ul>
    </section>
</div>
