:root {
    /* Esquema inicial */
    /* --color-base-blue: #0367A6;
    --color-second-blue: #0378A6;
    --color-destak-yellow: #F2B705;
    --color-destak-orange: #F27405;
    --color-destak-red: #A6290D; */
    /* Esquema logo 1*/
    --base-black: #2E2025;
    --base-white: #FFFFFF;
    --base-blue: #0893B8;
    --dark-blue: #2E1042;
    --base-orange-300: #C14F44;
    --base-orange-200: #FF6B5B;
    --base-orange-100: #FFCFB9;
    --contrates-yellow: #F2B705;
    /* Fonts Título */
    font-family: 'Pacifico', cursive;
    font-family: 'Nothing You Could Do', cursive;
    font-family: 'Caveat', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nothing+You+Could+Do&family=Pacifico&display=swap');