<header>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/heroes/">

    <div class="img-wrapper">
        <img src="https://raw.githubusercontent.com/Viictorreiss/CondominioSolidario/home/src/img/BG3.jpg" alt="">
    </div>
    <div class="banner">
        <h1 class="projeto-text-h1"> Condomínio Solidário</h1>
        <p class="projeto-text-p">Faça o bem a todos a sua volta</p>
        <button> <a class="button-home" href="#sessao-projetos"> Saiba Mais </a></button>
    </div>
</header>

<body>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../../assets/logo.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-5">
        <h1 class="display-5 fw-bold lh-1 mb-3">Como trabalhamos...</h1>
        <p class="lead">O Condomínio Solidário é um projeto gratuito e sem fins lucrativos, e busca juntar um time do bem para ajudar nas tarefas mais simples da vida das pessoas que foram afetadas pela pandemia e não conseguem sair de casa. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Cadastrar</button>

          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Contato</button>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

</body>

<footer>

  <div id="block_container" class="container2" style="text-align: center;">

    <div id="bloc1">  &copy; 2021–2021 Company, Inc. &middot; Privacy </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div id="bloc2"><i class="fab fa-instagram"></i> Instagram  &nbsp;&nbsp; <i class="fab fa-github"></i> GitHub &nbsp;&nbsp; <i class="fab fa-linkedin"></i> Linkedin </div>

  </div>
</footer>
