body {
    background: #fdfdfd;
  }
  
  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background: #FF6B5B;
  }
  
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
  
  .profile-usermenu {
    margin-top: 30px;
  }
  
  .profile-usermenu ul li {
    border-bottom: 1px solid #818081;
  }
  
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #0c0c0c;
    font-size: 14px;
    font-weight: 400;
  }
  
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }
  
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #030303;
  }
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    color: #000000;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    padding: 20px;
    color: #030000;
    background: #0893B8;
    /* min-height: 460px; */
    opacity: 1.0;
  
  }
  
  
  a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
      -webkit-border-radius: 0!important;
      -moz-border-radius: 0!important;
      border-radius: 0!important;
  }
  .dashboard-stat, .portlet {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
  }
  .portlet {
      margin-top: 0;
      margin-bottom: 25px;
      padding: 0;
      border-radius: 4px;
  }
  .portlet.bordered {
      border-left: 2px solid #e6e9ec!important;
  }
  .portlet.light {
      padding: 12px 20px 15px;
      background-color: #f3c333;
      opacity: 0.9;
  }
  .portlet.light.bordered {
      border: 1px solid #e7ecf1!important;
  }
  .list-separated {
      margin-top: 10px;
      margin-bottom: 15px;
  }
  .profile-stat {
      padding-bottom: 20px;
      border-bottom: 1px solid #f0f4f7;
  }
  .profile-stat-title {
      color: #0f0f0f;
      font-size: 25px;
      text-align: center;
  }
  .uppercase {
      text-transform: uppercase!important;
  }
  
  .profile-stat-text {
      color: #030303;
      font-size: 10px;
      font-weight: 600;
      text-align: center;
  }
  .profile-desc-title {
      color: #000000;
      font-size: 17px;
      font-weight: 600;
  }
  .profile-desc-text {
      color: #050505;
      font-size: 14px;
  }
  .margin-top-20 {
      margin-top: 20px!important;
  }
  [class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
      display: inline-block;
      line-height: 14px;
      -webkit-font-smoothing: antialiased;
  }
  .profile-desc-link i {
      width: 22px;
      font-size: 19px;
      color: #abb6c4;
      margin-right: 5px;
  }
  
  .table {
    background-color: #FF6B5B;
    color: #ebebeb;
  }
  
  .bio-graph-info {
    color: #89817e;
  }
  
  .bio-graph-info h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 0px;
  }
  
  label {
    width: 200%;
    float: left;
    margin-bottom: 15px;
    padding:0 20px;
  }
  
  #inputSpace span {
    width: 70px;
    display: inline-block;
  }
  
  #buttonEdition {
    line-height: 12px;
    width: 7.5rem;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 10px;
    position:absolute;
    top:0;
    right:0;
  }
  
  h1 {
    padding-bottom: 1.5rem;
  }
  